* {
	
}

body {
	background: url('../img/metal-background.jpeg');
}

#info {
	float: left;
	color: white;
}

#instructions {
	margin: 0 auto;
	width: 700px;
	color: white;
}

#game-container {
	height: 700px;
	width: 700px;
	margin: 0 auto;
	border: 3px solid #FFF;
}

#game-container div {
	height: 100px;
	width: 100px;
	border: 3px solid #FFF;
	float: left;
	margin: 0 auto;
	box-sizing: border-box;
}

#start-box, #end-box {
	background-color: SteelBlue;
}

.box {
	text-align: center;
	font-size: 24px;
}