* {
	
}

#container {
}

#game-container {
	height: 600px;
	width: 600px;
	margin: 0 auto;
	border: 1px solid SteelBlue;
}

#game-container div {
	height: 100px;
	width: 100px;
	border: 1px solid SteelBlue;
	float: left;
	margin: 0 auto;
	box-sizing: border-box;
}

#start-box, #end-box {
	background-color: yellow;
}

.box {
	text-align: center;
	font-size: 24px;
}

