* {
	font-family: 'Bungee';
}

body {
	background: url('../img/metal-background.jpeg');
}

h1,h2,p,ul {
	color: white;
}

#info {
	float: left;
}

#clear {
	clear: both;
}

.layout-text {
	margin: 0 auto;
	width: 700px;
}

.button-container {
	margin: 20px auto;
	width: 700px;
}

#game-container {
	height: 700px;
	width: 700px;
	margin: 0 auto;
	border: 3px solid #FFF;
}

#game-container div {
	height: 100px;
	width: 100px;
	border: 3px solid #FFF;
	float: left;
	margin: 0 auto;
	box-sizing: border-box;
}

#start-box, #end-box {
	background-color: SteelBlue;
}

.box {
	text-align: center;
	font-size: 24px;
}